*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

ul li{
    margin: 0;
    padding: 0;
}

/*Regole Header*/
header{
    height:50px;
    background-color: #FF6900;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.contenitore-header{
    display:flex;
    align-items: center;
    width:80%;
    height:50px;
}

ul{
    list-style-type: none;
    display:flex;
}

header a{
    color:white;
    text-decoration: none;
}

header img{
    height:50%;
}

.lista-sx{
    margin-left:0;
}

.lista-sx li{
    margin-right:10px;
}

.lista-dx{
    margin-right:0;
}

.lista-dx li{
    margin-right:10px;
}



/*Regole Main*/

.contenitore-card{
    width:80%;
    margin: 100px auto;
}

.riga{
    display:flex;
    flex-wrap: wrap;
    gap: 30px 15px;
}

.colonna{
    width:calc((100% / 3) - 30px);
}

.card img{
    width:100%;
}

.rosso{
    color:red;
}

.barrato{
    text-decoration: line-through;
}

.card{
    position:relative;
}

.cuore{
    background-color:white;
    width:12%;
    text-align:center;
    position:absolute;
    top:1%;
    right:0%;
}

.cuore:hover{
    color:red;
}

.cuore span{
    font-size:30px;
}

.sconto{
    background-color:red;
    padding:5px 10px;
}

.sostenibile{
    background-color:#008000;
    padding:5px 10px;
}

.marchetta{
    position:relative;
    top:-100px;
    color:white;
}

.card .card1{
    display:block;
}

.card .cambia{
    display:none;
}

.card:hover .card1{
    display:none;
}

.card:hover .cambia{
    display:block;
}

/*Regole Footer*/

footer{
    background-color:black;
    color:white;
    
}

.contenitore-footer{
    width:80%;
    
    display:flex;
    align-items: center;
    padding:50px 0;
}

.footer-sx{
    margin-left:0;
    
}

.footer-dx{
    margin-right:0;
   
}

footer ul{
    margin-top:10px;
}

.footer-sx li{
    margin-right:10px;
}

.footer-dx li{
    margin-left:10px;
}

.footer-dx li:first-child{
    margin-left:0;
}

footer a{
    color:white;
    text-decoration: none;
}

.footer-dx i{
    font-size:15px;
}